
:root {
    --color-on-bg: var(--color-white-200);
    --color-on-surface: var(--color-white-100);
    --color-primary: #22232E;
    --color-secondary: #0027FF;

    --color-primary-hover: #414253;

    --color-red: #FF3A3A;
    --color-yellow: #FFC225;
    --color-green: #30BF19;

    --color-white-100: #fff;
    --color-white-200: #E2E2E2;
    --color-white-300: #F7F7F7;
    --color-white-400: #CECECE;
    --color-white-500: #808080;

    --font-family: Manrope, sans-serif;
}