:root {
  --img-size: 20px;
  --red-color: #ff3a3a;
  --yellow-color: #ffc225;
  --green-color: #30bf19;
}

body {
  background-color: var(--color-on-bg);
}

.pass-generator-component {
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--color-on-surface);
  border-radius: 12px;
  margin: 100px auto;
  padding: 40px 24px 24px;
  max-width: 458px;

  & &__header {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.02em;
    padding-bottom: 28px;
  }

  & &__container-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.02em;
  }

  & &__length-number {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.02em;
    text-align: right;
  }

  & &__length-range {
    width: 100%;
    padding-bottom: 37px;
  }

  & &__strenght-container {
    background-color: var(--color-white-300);
    padding: 18px 24px 16px;
    border-radius: 12px;
    margin-top: 10px;
  }

  & &__strenght-value {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: var(--color-white-500);
    text-align: end;
  }

  & &__strenght-bars {
    padding-top: 16px;
    display: flex;
    gap: 7px;

    .bar {
      width: 25%;
      height: 6px;
      background-color: var(--color-white-400);
      border-radius: 12px;
    }

    .red-bar {
      background-color: var(--red-color);
    }
    .yellow-bar {
      background-color: var(--yellow-color);
    }
    .green-bar {
      background-color: var(--green-color);
    }
  }

  & &__output {
    border: 1px solid var(--color-white-400);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 20px;
    margin-top: 22px;
    margin-bottom: 23px;

    .image-container {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .image-container {
    width: var(--img-size);
    height: var(--img-size);
  }

  & &__button {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-white-100);
    background-color: var(--color-primary);
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.02em;

    &:hover {
      background-color: var(--color-primary-hover);
      cursor: pointer;
      transition: 0.2s;
    }
  }

  @media (max-width: 834px) {
    max-width: none;
    margin: 100px 23px auto 10px;
    padding: 32px 16px 20px;

    & &__header {
      padding-bottom: 19px;
    }

    & &__length-range {
      padding-bottom: 29px;
    }

    & &__radio-container {
      display: flex;
      gap: 80px;
    }

    & &__strenght-container {
      margin-top: 10px;
      padding: 12px 16px 16px;
    }

    & &__strenght-bars {
      padding-top: 14px;
    }

    & &__output {
      margin: 15px 0 22px;
    }
  }

  @media (max-width: 490px) {
    & &__radio-container {
      display: block;
    }
  }
}
